.loginPage{
    height: 100vh;

}
.login {
    width: 300px;
    height: min-content;
    padding: 20px;
    border-radius: 5px;
    color: rgb(251, 255, 254);
    background-color: rgb(190, 183, 194);
}